$sm: 576px;
$md: 768px;
$xl: 1200px;

// MIXINS
@mixin media-min($breakpoint) {
    @media (min-width: $breakpoint + 1px) {
        @content;
    }
}

@mixin media-max($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin media-between($breakpoint1, $breakpoint2) {
    @media (min-width: $breakpoint1 + 1px) and (max-width: $breakpoint2) {
        @content;
    }
}
