@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap");
@import url("https://www.aht.li/3717974/actu.css");

//typo
$title: "acturegular";
$body: "inter", sans-serif;

//text sizes
$tx-xxl: 7vw;
$tx-xl: 6vw;
$tx-md: 1.8vw;
$tx-xs: 1.2vw;

@mixin title($weight) {
    font-family: $title;
    font-weight: $weight;
}

@mixin text($weight) {
    font-family: $body;
    font-weight: $weight;
}

@mixin Size-LH($size, $lineHeight) {
    font-size: $size;
    line-height: $lineHeight;
}
